.app {
  text-align: center;
  font-family: 'Arial', sans-serif;
  background-color: rgb(255, 255, 255);
  background-image: url("./assets/pictures/kelly-sikkema-eBo-8_0i5ic-unsplash.jpg");
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.app1 {
  margin-top: 76px;
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background-color: black;
  color: white;
  padding: 0.5rem;
}

footer {
  background-color: black;
  color: white;
  padding: 0.5rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.note-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.note {
  background-color: lightgray;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 55vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 4px 4px 7px 4px gray;
}

form {
  margin: 1rem;
}

input {
  padding: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: lightgray;
  box-shadow: 3px 3px 1px 1px gray;
}

button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #6200ea;
  color: white;
  cursor: pointer;
}

.note-buttons {
  display: flex;
  gap: 0.5rem;
}

button:hover {
  background-color: #3700b3;
}
@media screen and (min-with:850px) {
  .note{
        width: 40%;
  }
}
/* @media  screen and (max-with:;){

} */